@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --font-roboto: "Roboto", sans-serif;

  color-scheme: light dark;
  color: #242424;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-roboto);
}

/* google font */
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

/* boz shadow */
.working-image {
  box-shadow: 30px -30px papayawhip;
}

.disc{
  width: 60vw;
  height: 70vh;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:75% 25% 75% 25% / 45% 55% 45% 55% 
}